html {
    position: relative;
    min-height: 100%;
}

body {
    background: url(../images/diagonal_striped_brick/diagonal_striped_brick/diagonal_striped_brick.png);
    color: #655757;
    font-weight: 500;
    font-size: 19px;
    margin-top: 120px;
    /* Margin bottom 30px more than footer height */
    margin-bottom: 60px;
}

/* Navbar style */

.masthead {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

.navbar {
    background-image: url(../images/retina_wood/retina_wood.png);
}

.nav-container {
    padding: 0px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #655757;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar,
.navbar-expand-md,
.navbar-light,
.bg-light,
.navbar-brand,
.img-fluid {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar,
.navbar-expand-md,
.navbar-light,
.bg-light {
    border-bottom: 1px solid grey;
}

.main-container {
    margin-top: 30px;
    background-image: url(../images/retina_wood/retina_wood.png);
    padding: 0px;
    border: 1px solid grey;
}

/* Index page style */

.profilePic {
    display: block;
    margin: 7px 15px 22px 30px;
    width: 97%;
    border: 10px solid #4aaaa5;
}

.col-sm-6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin: 15px 15px 15px 25px;
}

.p1 {
    margin-top: 0px;
}

form {
    width: 100%;
}

.formCol {
    flex: 0%;
}

#messageInput {
    max-height: 260px;
    min-height: 230px;
}

.btn {
    background-color: #4aaaa5;
    border: 1px solid grey;
    margin-bottom: 10px;
}

/* Footer style */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set fixed height of the footer */
    height: 30px;
    background-color: #4aaaa5;
    border-top: 5px solid grey;
}

.copyright {
    text-align: center;
    font-size: 80%;
    margin: 0px;
    color: white;
}

/* Media queries */

@media only screen and (max-width: 980px) {
    .textBackground {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .profilePic {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .picCol {
        width: 100%;
    }

    .emptyCol {
        width: 0px;
    }
}

@media only screen and (max-width: 640px) {
    .main-container{
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
    }

    h1 {
        text-align: center;
    }

    p {
        margin: 15px 15px 15px 15px;
        text-align: justify;
    }

    .row {
        margin-left: 0px;
    }
}